/***********************************************************************************************/
/* Button */
/***********************************************************************************************/
.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 1em;
	display: none;
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.6);
}
.button, .button:link, .button:focus {
	cursor: pointer;
	position: relative;
	margin:0 0 0 30;
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	
	padding: 5px 12px;
	background: rgba(0, 0, 0, 0.3); 

	text-shadow: 0 0 0;
	
}
.button:hover {
   background:#a60928;
}