 html, body {
  font-family: Arial, sans-serif;
  position: absolute;
  height: 100%;
  min-width: 100%;
  font-size: 13px;
  color: #333333;
  direction: ltr;
  -webkit-text-size-adjust: none;
  background-color:#a60928;
  } 

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}


#wrapper {min-width:1200px; margin:auto; align:center;} 


nav {     height:50px;
    	margin: 0px auto; 
	text-align: center;
   /* background-color: #3B3B3B;*/
   
   /* Adds the transparent background */
background-color: #;
color:#a60928;

}

nav ul ul {
	display: none;

	
}

	nav ul li:hover > ul {
		display: block;
		background-color:#a60928;
	}


nav ul {

	padding: 0 0px;
	border-radius: 0px;  
	list-style: none;
	position: relative;
	display: inline-table;
	color:#a60928;
		background-color: #fff;


}
	nav ul:after {
		content: ""; clear: both; display: block;
			color:#a60928;

	}

	nav ul li {
		float: left;
		width:166px;
			color:#a60928;

	}
	
		nav ul li:hover {
		    
			background-color:#a60928;
			color:#fff;
		}
			nav ul li:hover a {
				color: White;
			}
		
		nav ul li a {
			display: block; padding: 17px 0px;
				color:#a60928;
 text-decoration: none;
		}
			
		
	nav ul ul {
	
		background: #a60928; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
	/*#6b727c    #575f6a */
		nav ul ul li {
			float: none; 
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff; position: relative;
		}
			nav ul ul li a {
			    text-align:center;
				padding: 10px 0px;
				color: #fff;
			}	
				nav ul ul li a:hover {
				
					background: #fff;
					color:#a60928;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
		
		


/*section area*/
    section {position:relative;
	width:1158px; height:1150;
	 background:rgba(255,255,255,1); 
	/*margin-top:50px; 
	margin-left:20px;*/
	margin: 0px auto; 
	border:1px solid #D6D6D6;}
    section p {line-height:20px;word-spacing:2px;padding:0 10 0 20;color:rgba(153,153,153,1)}
    section h1 {color:rgba(153,153,153,1);font-size:25px;font-weight:lighter;margin-left:20px;margin-bottom:10px;}
    

/*___________Products Containeer_____________*/

#ProductsContainer
{
	position:absolute;
	width:1120px;
	height:820px;
	margin-top:20px;
	margin-left:20px;
	background-color:rgba(255,255,255,0.4);
}
	
.more 
{
	padding: 0 8px 0 0; 
	color:#333;; 
	font-weight:bold; 
	background:url(../images/more.png) no-repeat right; 
}
	
/*___________Daily Deal Containeer_____________*/	
#DailyDeal_container
{
	position:absolute;
	width:1090px;
	height:220px;
	margin:20 0 0 10;
	padding:20px 0px 10px px;
	text-align:center;
	font-family:Cambria;
	font-size:12px;
	color:#333;
	text-decoration:none;
	left: 1px;
	top: 24px;
}
br{
	width:30px;
	margin:5 0 0 0;
}
#DailyDeal_container_header
{
	position:absolute;
	height:40px;
	width:800px;
	background-image:url(../images/line%20for%20heading.jpg);
	margin-top:0;
	margin-left:10px;
	font-family:Calibri;
	font-size:22px;
	color:rgba(153,153,153,1);
	text-align:left;
	line-height:1.9;
}


/*------------- images in daily deals------*/
.img1{
	width:150px;
	height:150px;
	margin:5 0 0 5;
	float:left;
}
.img2{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img3{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img4{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img5{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img6{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}

/*------txt below img--------*/

.txt1{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
}
.txt2{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:185px;
}
.txt3{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:375px;
}
.txt4{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:565px;
}
.txt5{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:755px;
}
.txt6{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:933px;
}



/*___________New Arrivals Containeer_____________*/	
#NewArrivals_container
{
	position:absolute;
	width:1100px;
	height:250px;
	margin-top:260px;
	padding:20px 0px 10px px;
	text-align:center;
	font-family:Calibri;
	font-size:12px;
	color:#333;
	text-decoration:none;
}
/*------------- images in daily deals------*/
.img7{
	width:150px;
	height:150px;
	margin:5 0 0 15;
	float:left;
}
.img8{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img9{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img10{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img11{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img12{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
/*------txt below img--------*/

.txt7{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:10px;
}
.txt8{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:197px;
}
.txt9{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:387px;
}
.txt10{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:575px;
}
.txt11{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:760px;
}
.txt12{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:943px;
}


#NewArrivals_container_header
{
	position:absolute;
	height:40px;
	width:800px;
	background-image:url(../images/line%20for%20heading.jpg);
	margin-top:0px;
	margin-left:10px;
	font-family:Calibri;
	font-size:22px;
	color:rgba(153,153,153,1);
	text-align:left;
	line-height:1.9;
}
/*_______On Sale Products CONTAINER START_______*/	
#BestSale_container
{
	position:absolute;
	width:1100px;
	height:250px;
	margin-top:530px;
	padding:20px 0px 10px px;
	text-align:center;
	font-family:Calibri;
	font-size:12px;
	color:#333;
	text-decoration:none;
}
/*------------- images in daily deals------*/
.img13{
	width:150px;
	height:150px;
	margin:5 0 0 15;
	float:left;
}
.img14{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img15{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img16{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img17{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
.img18{
	width:150px;
	height:150px;
	margin:5 0 0 37;
	float:left;
}
/*------txt below img--------*/

.txt13{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:10px;
}
.txt14{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:197px;
}
.txt15{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:387px;
}
.txt16{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:575px;
}
.txt17{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:760px;
}
.txt18{
	width:160px;
	height:30px;
	text-align:center;
	font:13px calibri;
	color:#a60928;
	margin-left:943px;
}
#BestSale_container_header
{
	position:absolute;
	height:40px;
	width:800px;
	background-image:url(../images/line%20for%20heading.jpg);
	margin-top:0px;
	margin-left:10px;
	font-family:Calibri;
	font-size:22px;
	color:rgba(153,153,153,1);
	text-align:left;
	line-height:1.9;
}
/*______galler page css______*/
#start_gallery{
	width:300px;
	height:700px;
	float:left;
	margin:0px 0px 0px 30px;
}
#start_gallery2{
	width:300px;
	height:700px;
	float:left;
	margin:0px 0px 0px 70px;
}
#start_gallery3{
	width:300px;
	height:700px;
	float:left;
	margin:0px 0px 0px 70px;
}




/*_________brands Page css_______*/

#logo1{
	width:300px;
	height:304px;
	border:3px #ccc solid;
	margin:0 0 0 60;
	float:left;
}
#logo2{
	width:300px;
	height:304px;
	border:3px #ccc solid;
	margin:0 0 0 60;
	float:left;
}
#logo3{
	width:300px;
	height:304px;
	border:3px #ccc solid;
	margin:0 0 0 60;
	float:left;
}
#logo4{
	width:300px;
	height:304px;
	border:3px #ccc solid;
	margin:90 0 0 170;
	float:left;
}
#logo5{
	width:300px;
	height:304px;
	border:3px #ccc solid;
	margin:90 0 0 170;
	float:left;
}


/*_______On Sale Products CONTAINER END_______*/


/*footer area*/
    footer {height: 150px; 
	width:1160px;
	 background:#a60928;
	 position:relative;
	  margin: 0px auto; 
	/* margin:1070 0 10 20;*/
	 border-top:4px solid #fff;
	
-webkit-box-shadow: 0px 0px 18px 0px #999;
-moz-box-shadow: 0px 0px 18px 0px #999;
box-shadow: 0px 0px 18px 0px #999;
}
	.footermenu{background:rgba(255,255,255,1);
	min-width:800px;
	min-height:170px;
	margin:15 0 0 0;
	}
	.footermenu ul li{
   
   list-style-type:none; 
   }

.footermenu li{
    
    margin-bottom: 10px;
	
	}

.footermenu ul li a{
   
   text-decoration:none;
    
   color: black;
}
.footermenu ul li a:hover{
   transition: all 0.3s ease-in-out 0s;
   text-decoration:none;
   color: #a60928;
}
	.footercontainer{width:800px;height:50px;background:#a60928;margin:0 0 0 0; color:#fff;}
	

